@import "tailwindcss";
:root {
  --text-bg: #E7CEB0;
  --bg-red: #79231C;
  --color-text: #f5f5f5;
  --color-muted: #85858f;
}

/* App.css */
.portfolio-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
}
.font-bebas {
  font-family: 'Bebas Neue', sans-serif;

}

body {
  margin: 0;
  min-height: 100vh;
  color: #fff;
  padding: 2%;
  background-color: black;
  white-space: nowrap;
}