@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


@import "tailwindcss";


@theme {
  --font-oswald: "Oswald", sans-serif;

  --color-background: #0b0b0f;
  --color-cream: #e7ceb0;
  --color-red: #8b1e1e;
}
:root {
  --text-bg: #E7CEB0;
  --bg-red: #79231C;
  --bg-w:#180809;
  --bg-i:#201011;
  --c-text: #bab0b0;
  --color-muted: #85858f;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0b0f;
}

::-webkit-scrollbar-thumb {
  background: #79231C;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a1b15;
}
/* App.css */
.portfolio-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
}
.font-bebas {
  font-family: 'Bebas Neue', sans-serif;

}
.font-bebasl {
  font-family: 'Bebas Neue', sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
  color: #fff;
  padding: 2%;
  background-color: black;

}


@keyframes redBlink {
  0%,
  100% {
    background-color: var(--bg-red);
  }

  50% {
    background-color: #ff0808;
  }
}

.red-blink {
  animation: redBlink 2s ease-in-out infinite;
}