@import "tailwindcss";
:root {
  --text-bg: #E7CEB0;
  --bg-red: #79231C;
  --c-text: #bab0b0;
  --color-muted: #85858f;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0b0f;
}

::-webkit-scrollbar-thumb {
  background: #79231C;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a1b15;
}
/* App.css */
.portfolio-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
}
.font-bebas {
  font-family: 'Bebas Neue', sans-serif;

}
.font-bebasl {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: capitalize;
}
body {
  margin: 0;
  min-height: 100vh;
  color: #fff;
  padding: 2%;
  background-color: black;
  white-space: nowrap;
}